[submodule "submodules/JavaScript-I"]
	path = submodules/JavaScript-I
	url = https://github.com/ahrjarrett/JavaScript-I
[submodule "submodules/JavaScript-II-Mini"]
	path = submodules/JavaScript-II-Mini
	url = https://github.com/ahrjarrett/JavaScript-II-Mini
[submodule "submodules/JavaScript-II"]
	path = submodules/JavaScript-II
	url = https://github.com/ahrjarrett/JavaScript-II
[submodule "submodules/Sprint-Challenge--JavaScript"]
	path = submodules/Sprint-Challenge--JavaScript
	url = https://github.com/ahrjarrett/Sprint-Challenge--JavaScript
[submodule "submodules/Data-Structures-I"]
	path = submodules/Data-Structures-I
	url = https://github.com/ahrjarrett/Data-Structures-I
[submodule "submodules/Data-Structures-II"]
	path = submodules/Data-Structures-II
	url = https://github.com/ahrjarrett/Data-Structures-II
[submodule "submodules/Sprint-Challenge--Data-Structures"]
	path = submodules/Sprint-Challenge--Data-Structures
	url = https://github.com/ahrjarrett/Sprint-Challenge--Data-Structures/
[submodule "submodules/User-Interface"]
	path = submodules/User-Interface
	url = https://github.com/ahrjarrett/User-Interface
[submodule "submodules/Responsive-Web-Design"]
	path = submodules/Responsive-Web-Design
	url = https://github.com/ahrjarrett/Responsive-Web-Design
[submodule "submodules/Sprint-Challenge--UI-Responsive"]
	path = submodules/Sprint-Challenge--UI-Responsive
	url = https://github.com/ahrjarrett/Sprint-Challenge--UI-Responsive
[submodule "submodules/Preprocessing-I"]
	path = submodules/Preprocessing-I
	url = https://github.com/ahrjarrett/Preprocessing-I
[submodule "submodules/Preprocessing-II"]
	path = submodules/Preprocessing-II
	url = https://github.com/ahrjarrett/Preprocessing-II
[submodule "submodules/Bootstrap-I"]
	path = submodules/Bootstrap-I
	url = https://github.com/ahrjarrett/Bootstrap-I
[submodule "submodules/Bootstrap-II"]
	path = submodules/Bootstrap-II
	url = https://github.com/ahrjarrett/Bootstrap-II
[submodule "submodules/Sprint-Challenge--Web-Tools-And-Frameworks"]
	path = submodules/Sprint-Challenge--Web-Tools-And-Frameworks
	url = https://github.com/ahrjarrett/Sprint-Challenge--Web-Tools-And-Frameworks
[submodule "submodules/DOM-I"]
	path = submodules/DOM-I
	url = https://github.com/ahrjarrett/DOM-I
[submodule "submodules/DOM-II"]
	path = submodules/DOM-II
	url = https://github.com/victoramontoya/DOM-II
[submodule "submodules/Components-BEM"]
	path = submodules/Components-BEM
	url = https://github.com/ahrjarrett/Components-BEM
