[submodule "submodules/JavaScript-I"]
	path = submodules/JavaScript-I
	url = https://github.com/ahrjarrett/JavaScript-I
[submodule "submodules/JavaScript-II-Mini"]
	path = submodules/JavaScript-II-Mini
	url = https://github.com/ahrjarrett/JavaScript-II-Mini
[submodule "submodules/JavaScript-II"]
	path = submodules/JavaScript-II
	url = https://github.com/ahrjarrett/JavaScript-II
[submodule "submodules/Sprint-Challenge--JavaScript"]
	path = submodules/Sprint-Challenge--JavaScript
	url = https://github.com/ahrjarrett/Sprint-Challenge--JavaScript
[submodule "submodules/Data-Structures-I"]
	path = submodules/Data-Structures-I
	url = https://github.com/ahrjarrett/Data-Structures-I
[submodule "submodules/Data-Structures-II"]
	path = submodules/Data-Structures-II
	url = https://github.com/ahrjarrett/Data-Structures-II
[submodule "submodules/Sprint-Challenge--Data-Structures"]
	path = submodules/Sprint-Challenge--Data-Structures
	url = https://github.com/ahrjarrett/Sprint-Challenge--Data-Structures/
[submodule "submodules/User-Interface"]
	path = submodules/User-Interface
	url = https://github.com/ahrjarrett/User-Interface
[submodule "submodules/Responsive-Web-Design"]
	path = submodules/Responsive-Web-Design
	url = https://github.com/ahrjarrett/Responsive-Web-Design
[submodule "submodules/Sprint-Challenge--UI-Responsive"]
	path = submodules/Sprint-Challenge--UI-Responsive
	url = https://github.com/ahrjarrett/Sprint-Challenge--UI-Responsive
